.button {
    font-size: 1rem;
    font-weight: 700;
    padding: .5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    user-select: none;
}

.danger {
    background-color: #dc3445;
    color: #fff;
}

.success {
    background-color: #408754;
    color: #fff;
}