.button {
    padding: .7em 0 .3em 2em;
    background-color: transparent;
    margin-left: auto;
    font-size: 1.5rem;
}

.icon {
    font-size: 1rem;
    margin-top: .5em;
    margin-right: .7em;
}

.span {
    margin-top: .5em;
}

.spanChecked {
    margin-top: .5em;
    text-decoration: line-through;
}

.input {
    height: 100%;
    padding: .4em;
    margin-top: .3em;
    font-style: italic;
}
